
node_modules/
dist/
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-workspace
*.iml
/android/app/build/
/android/.gradle/
/android/.idea/
/android/local.properties
/android/.cxx/
/android/captures/
*.apk
*.aab
*.md